/* usign  a * sign helps you aplly color or style to the whole page */
/* *{
    color: pink;
    background-color: green;
}
*/



/* body is the part between header and footer*/
body{
    background-color: beige;
}
/* here since we are using button word, it is going to affect all the button on the page*/
button{
    font-size: 30px;
}
/* we can use multiple selectors at the same time*/

h1, h2{
    color: crimson;
}
/* we are using an id here becasue it is specific to one object unlike classes*/
#signup{
    color: blue;
    background-color: yellow;
}

/* here we are using period indtead of hashtag because we use period for classes*/
.tag{
    color: blue;
}

/* we are usign descendent selector using class */

.post a{
    color: blue;
}

/* here we are using decendent selector using the actual selector */
footer > a{
    color: red;
 }

 /* This is attribute selector and it only selects an attribute with good in it */
 a[href*="google"]{
    color: darkorange;
 }

 /* This a one of many Pseudo-classes helps you appply different functions */
 button:hover{
     color: pink;
     background-color: purple;
 }

 /* This will make a button show that it is active when it is clicked */
.post button:active{
    background-color: red;
}

/* pseuedo elements helps us select specific elements */
h2::first-letter{
    font-size: 50px;
}

/* pseuedo elements that will affect the first line of the paragraph */

p::first-line{
    color: green;
}